[submodule "Desktop/Africa_Shining_Fuel/server/Desktop/Africa_Shining_Fuel/server/AFRICA_SHINING_FUEL_SERVER"]
	path = Desktop/Africa_Shining_Fuel/server/Desktop/Africa_Shining_Fuel/server/AFRICA_SHINING_FUEL_SERVER
	url = https://github.com/sayidi01/AFRICA_SHINING_FUEL_SERVER
